<section id="aside">
 <aside style= "background-color: #8d2c14; color:#ffffff">
      <div class="container text-center">
          <div class="call-to-action">
            <i style="color:#ffffff" class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
              <h2>Cum poți ajuta</h2>
              <hr class="light">
             <p></p>
            <h2 class="section-heading">
              <h3>Codul Fiscal îți permite să redirecționezi 3.5% din impozitul pe venit către o organizație neguvernamentală precum A.C.S. Activ Pitești. 
               <p></p>
              <h3>Completează datele tale și semnează online formularul 230 prin care direcționezi 3,5% din impozitul pe venit către Asociația Club Sportiv Activ Pitești. 
                Nu este nevoie să completezi suma, iar datele Asociației sunt pre-completate. Trimite formularul pe adresa de e-mail acs.activpitesti@gmail.com, iar noi ne vom ocupa de depunerea acestuia la ANAF.</h3>
              <p></p>
              <h3>Alternativ, formularul poate fi printat, completat și trimis prin poșta cu scrisoare recomandată către Administrația Finanțelor Publice a localității de domiciliu, de către dumneavostră.
              <br>
              <h4><br>
              Impozitul de 3.5% îl plăteste toata lumea la stat. ONG-ul nostru nu vă implică financiar în niciun fel!
              <br></h4>
              </h3>
              </h3>
              <br>
             <a href="230_OPANAF.pdf" target="_blank" class="btn btn-default btn-xl wow tada"> Descarcă formularul 230 </a>
             <br>
                <h4>
                <br>
                <br>
                <i style="color:#ffffff;" class="fa fa-3x fa-credit-card wow bounceIn text-primary" data-wow-delay=".3s"></i>
                <h2>Donează prin transfer bancar</h2>
                <hr class="light">
              <h4>
              ASOCIATIA CLUB SPORTIV ACTIV PITESTI<P></P>
              ASRO32INGB0000999914809713</h4>
            <p></p>
             <h4>Pentru detalii suplimentare te rugăm să ne contactezi.</h4>
            </h4>
              <p></p>
              <h3>Mulțumim!</h3>
          </div>
      </div>
  </aside>
