<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div style="color: #ffffff" class="col-lg-8 col-lg-offset-2 text-center">
                <i style="color:#ffffff" class="fa fa-5x fa-globe wow bounceIn text-primary" data-wow-delay=".3s"></i>
                <h2>Despre noi</h2>
                <hr class="light">
                <h3 class="section-heading" style="color:rgb(0, 0, 0);"><h3>Asociația A.C.S. Activ Pitești este o organizație neguvernamentală, non-profit și apolitică.</h3>
                <p></p>
                    <h3>Activitatea desfasurată în cadrul acestei asociații sportive include exerciții fizice efectuate atât în săli de sport cât și într-un climat ambiental plăcut (în parcuri, în cantonamente de pregătire la mare, la munte, etc.) și urmărește să atingă următoarele obiective:</h3>
                    <p></p>
                    <h4>Întreținerea unui regim sănătos de viață fizic și psihic</h4>
                    <h4>Caștigarea respectului față de sine și față de altii</h4>
                    <h4>Dezvoltarea fizică armonioasă a copiilor noștri</h4>
                    <h4>Formarea spiritului de fair-play și de toleranță</h4>
                    <h4>Formarea capacității de a acționa în grup</h4>
                    <h4>Educarea personalității lor</h4>
                    <p></p>
                    <h3>Scopul principal este creșterea calității vieții copiilor noștri și o mai bună integrare a lor in societate.</h3>
                    <br>
                    </h3>
                 <a href="#aside" class="btn btn-default btn-xl page-scroll">Implică-te</a>
            </div>
        </div>
    </div>
</section>
